<ul class='dialog-header menu horizontal-menu'>
    <li class='middle-item'><input class='holo' type='search' name='contacts_search' placeholder='Search' ng-model='contacts.query' ng-change='contacts.search()' /></li>
</ul>
<div class='dialog-content'>
    <div class='list-item' ng-repeat='c in contacts.contacts'>
        <div class='list-item-label' ng-click='closeThisDialog(c)'><p>{{ c.display_name }}</p></div>
    </div>
    <div class='empty-list' ng-show='contacts.contacts.length == 0 && contacts.loading == 0'><p>No results</p></div>
    <div class='empty-list' ng-show='contacts.contacts.length == 0 && contacts.loading > 0'><p>Loading...</p></div>
    <!--<cm-virtual-list data-provider='contacts'></cm-virtual-list>-->
</div>