<ul class='subheader menu horizontal-menu'>
    <li class='left icon' ui-sref='^.^.list'><i class='icon-back'></i></li>
    <li class='middle-item'><h3>{{ contact.contact.display_name }}</h3></li>
    <li class='right icon' ui-sref='^.edit'><i class='icon-edit'></i></li>
    <li class='right icon' ui-sref='^.contribution({type:1,source:"CiviMobile: donation"})'><i class='icon-dollar'></i></li>
</ul>
<div class='content'>
    <div ng-repeat='f in contact.fields' ng-switch='f.field_name'>
        <div ng-switch-when='email' ng-switch-when='phone' ng-repeat='x in contact.contact[f.field_name]'>
            <p>{{ f.label }}{{ x.is_primary == '1' ? ' (primary)' : '' }}: {{ x[f.field_name] }}</p>
        </div>
        <div ng-switch-default>
            <p>{{ f.label }}: {{ contact.contact[f.field_name].value ? contact.contact[f.field_name].value : contact.contact[f.field_name] }}</p>
        </div>
    </div>
</div>