<!--<div class='error' ng-show='contact.error'></div>-->
<form class='pure-form pure-form-aligned'>
    <div class='pure-control-group' ng-repeat='f in contact.fields' ng-switch='f.html.type'>
        <label for='{{f.field_name}}'>{{ f.label }}</label>
        <input ng-switch-default type='text' id='{{f.field_name}}' ng-model='contact.contact[f.field_name]' ng-required='f.required'>
        <input ng-switch-when='Select Date' type='date' id='{{f.field_name}}' ng-model='contact.contact[f.field_name]'>
        <select ng-switch-when='Select' id='{{f.field_name}}' ng-model='contact.contact[f.field_name]' ng-options='(o.key).toString() as o.value for o in f.options'></select>
        <input ng-switch-when='CheckBox' type='checkbox' id='{{f.field_name}}' ng-model='contact.contact[f.field_name]' ng-true-value='"1"', ng-false-value='"0"'>
    </div>
</form>