<ul class='subheader menu horizontal-menu'>
    <li class='left icon' ui-sref='^.view'><i class='icon-back'></i></li>
    <li class='middle-item'><h3>Edit <i>{{ event.event.event_title }}</i></h3></li>
    <li class='right icon' ng-click='event.save()'><i class='icon-save'></i></li>
</ul>
<!--<div class='error' ng-show='event.error'></div>-->
<div class='content'>
    <form class='pure-form pure-form-aligned'>
        <legend>Address</legend>
        <div class='pure-control-group'>
            <label for='address.street_address'>Street address</label>
            <input type='text' id='address.street_address' ng-model='event.address.street_address' ng-change='event.changeAddress()'>
        </div>
        <div class='pure-control-group'>
            <label for='address.city'>City</label>
            <input type='text' id='address.city' ng-model='event.address.city' ng-change='event.changeAddress()'>
        </div>
        <div class='pure-control-group'>
            <label for='address.city'>State/province</label>
            <select type='select' id='address.state' ng-model='event.address.state' ng-options='o as o.value for o in event.stateOptions' ng-change='event.changeAddress()'></select>
        </div>
        <div class='pure-control-group'>
            <label for='address.postal_code'>Postal code</label>
            <input type='text' id='address.postal_code' ng-model='event.address.postal_code' ng-change='event.changeAddress()'>
        </div>
        <div class='pure-control-group'>
            <label for='address.city'>Country</label>
            <select type='select' id='address.country' ng-model='event.address.country' ng-options='o as o.value for o in event.countryOptions' ng-change='event.changeAddress()'></select>
        </div>
        <br>
        <legend>Event details</legend>
        <div class='pure-control-group'>
            <label for='title'>Title</label>
            <input type='text' id='title' ng-model='event.event.title' required>
        </div>
        <div class='pure-control-group'>
            <label for='summary'>Summary</label>
            <textarea type='text' id='summary' ng-model='event.event.summary'></textarea>
        </div>
        <div class='pure-control-group'>
            <label for='description'>Description</label>
            <textarea type='text' id='description' ng-model='event.event.description'></textarea>
        </div>
        <div class='pure-control-group'>
            <label for='start_date'>Start date</label>
            <input type='date' id='start_date' ng-model='event.event.start_date'>
        </div>
        <div class='pure-control-group'>
            <label for='start_time'>Start time</label>
            <input type='time' id='start_time' ng-model='event.event.start_date'>
        </div>
        <div class='pure-control-group'>
            <label for='end_date'>End date</label>
            <input type='date' id='end_date' ng-model='event.event.end_date'>
        </div>
        <div class='pure-control-group'>
            <label for='end_time'>End time</label>
            <input type='time' id='end_time' ng-model='event.event.end_date'>
        </div>
    </form>
</div>