<ul id='main-nav' class='menu vertical-menu center'>
  <li><button class='pure-button pure-button-primary button-large' ui-sref='contacts.list'>Contacts</button></li>
  <li><button class='pure-button pure-button-primary button-large' ui-sref='events.list'>Events</button></li>
  <li><button class='pure-button pure-button-primary button-large' ui-sref='memberships'>Memberships</button></li>
  <li><button class='pure-button pure-button-primary button-large' ui-sref='donations'>Donations</button></li>
  <li><button class='pure-button pure-button-primary button-large' ui-sref='surveys'>Surveys</button></li>
  <li><button class='pure-button pure-button-primary button-large' ng-click='home.logout()'>Logout</button></li>
</ul>